/*OVERALL FORMATTING*/
body {
    background-color: #800000;
    color: #FEF9EF;
    font-family: 'Montserrat:ital,wght@1,500', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120%;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    background-blend-mode: overlay;
    padding-left: 70px;
    padding-right: 10px;
    text-align: justify;
    box-sizing: border-box;
    overflow: auto;
}
h1, h2 {
    text-align: left;
}
h2 {
    margin-bottom: -8px;
}
h1:hover, h2:hover {
    color: #ff982a;
    font-weight: 1200;
}
p { /*indention of all text*/
    text-indent: 50px;
}
ul > li {
    text-align: left;
}
.italic { /*class="italic" is more convenient than style="font-style: italic;"*/
    font-style: italic;
}



/*LINKS FORMATTING*/
article > p > a, article > section > p > a, article > section > ul > li > a, details.references > ul > li > a, nav > ul > li > a > img, section.audio > details > ul > li > a, section.toc > ul > li > a {
    color: #FEF9EF;
}
article > p > a:visited, article > section > p > a:visited, article > section > ul > li > a:visited, details.references > ul > li > a:visited, section.audio > details > ul > li > a:visited, section.toc > ul > li > a:visited {
    color: #00868b;
    opacity: 0.75;
}
article > p > a:hover, article > section > p > a:hover, article > section > ul > li > a:hover, details.references > ul > li > a:hover, section.audio > details > ul > li > a:hover, section.toc > ul > li > a:hover {
    opacity: 0.5;
}



/*HEADER*/
header {
    color: #FEF9EF;
    font-size: 120%;
    margin: 5px;
    margin-top: 325px;
}
header > h2 {
    margin-top: -25px;
}
header > img {
    float: left;
    margin: 5px;
    height: 250px;
    width: 250px;
    position: absolute;
    top: 5px;
}



/*TABLE OF CONTENTS*/
section.toc {
    margin: 35px 20px -15px 20px;
    padding: 5px;
    background-color: #ff982a;
    text-align: left;
}
section.toc > h4 {
    margin: 0 0 -5px 5px;
    padding: 2px 2px 4px 2px;
}
section.toc > ul {
    list-style-type: square;
    float: left;
}



/*CONTENT*/
article > .noPic, article > section.leftPic, article > section.rightPic {
    position: relative;
    height: max-content;
    margin: 5px;
}
#pointers > img { /*similar formatting found in the content, in the pointers (#pointer)*/
    margin-right: 35px;
}
article > section > audio {
    margin-left: 10%;
}


/*FOR WHEN THERE IS NO PICTURE*/
.noPic {
    margin: 5px 15px 5px 10px;
    clear: both;
    padding: 0 10px;
}



/*FOR WHEN THE PICTURE IS ON THE LEFT*/
section.leftPic {
    margin: 5px;
    position: relative;
}
section.leftPic > img { /*format of the photo*/
    margin: 5px;
    width: 30%;
    height: auto;
    float: left;
    padding: 5px;
}
section.leftPic > h2, section.leftPic > p, section.leftPic > ul > li { /*format of the text*/
    margin: 5px;  
    padding: 5px;
}



/*FOR WHEN THE PICTURE IS ON THE RIGHT*/
section.rightPic {
    margin: 5px;
    position: relative;
}
section.rightPic > img { /*format of the photo*/
    margin: 5px;
    width: 30%;
    height: auto;
    float: right;
    padding: 5px;
}
section.rightPic > h2, section.rightPic > p, section.rightPic > ul > li { /*format of the text*/
    margin: 5px; 
    padding: 5px; 
}



/*REFERENCES*/
details.references {
    margin: 0px 50px;
    padding: 2px 10px;
    background-color: #ff982a;
}
details.references > ul > li {
    list-style-type: none;
    text-align: left;
    padding-left: 10px;
    text-indent: -50px;
}
details.references > summary {
    font-size: 120%;
}



/*COPYRIGHT*/
footer {
    font-size: 100%; 
    text-align: right;
    padding: 15px;
}



/*AUDIO*/
section.audio {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 10px;
    background-color: #ff982a;
    color: #FEF9EF;
    width: 400px;
}
section.audio > audio {
    position: relative;
    left: 50px;
}
section.audio > details {
    margin-top: 10px;
    text-align: left;
}
section.audio > details > ul {
    background-color: #800000;
    margin-bottom: -10px;
    padding-bottom: 50px;
}
section.audio > details > ul > li, section.audio > details > summary {
    font-size: 80%;
}
section.audio > details > ul > li, section.audio > details > ul > li > a {
    padding: 5px;
}



/*MENUBAR*/
nav > ul > li {
    list-style-type: none;
}
nav > ul > li.webnav { 
    position: fixed;
}
nav > ul > li.webnav > a {
    text-decoration: none;
}
nav > ul > li.webnav > a > img { /*formatting the images*/
    width: 75px;
    margin-top: -5px;
    z-index: 5;
}
nav > ul > li.webnav > a > span { /*formatting the text*/
    list-style-type: none;
    position: relative;
    bottom: 25px;
    margin-right: -7px;
    padding: 17px 10px 17px 100px;
    font-size: 35px;
    background-color: #ff982a;
    color: #FEF9EF;    
}
nav > ul > li > img { /*formatting the orange background*/
    width: 75px;
    left: 0px;
    position: fixed;
    top: 420px;
    height: 100%;
    z-index: 1;
}
nav > ul > li > h4 { /*formatting author text*/
    position: fixed;
    z-index: 5;
    left: 10px;
    bottom: 110px;
    font-size: 85%;
    color: #800000;
}



/*SPECIFIC WEBNAV*/
nav > ul > li.webnav:nth-child(1) {
    top: 0px; 
    left: -261px;
}
nav > ul > li.webnav:nth-child(2) {
    top: 75px; 
    left: -505px;
}
nav > ul > li.webnav:nth-child(3) {
    top: 145px; 
    left: -406px;
}
nav > ul > li.webnav:nth-child(4) {
    top: 215px; 
    left: -367px;
}
nav > ul > li.webnav:nth-child(5) {
    top: 285px; 
    left: -323px;
}
nav > ul > li.webnav:nth-child(6) {
    top: 355px; 
    left: -406px;
}



/*IMAGE SPRITES FOR AUTHOR LINKS*/
nav > ul > li.sprite {
    list-style-type: none;
}
nav > ul > li.sprite > a > div {
    position: fixed;
    z-index: 10;
    left: 15px;
}

/*getting the image sprites*/
div.twitter {
    background: url('../images/icon.png') no-repeat -294px -89px;
	width: 38px;
	height: 37px;
    bottom: 90px;
}
div.twitter:hover {
    background: url('../images/icon.png') no-repeat -294px -14px;
	width: 38px;
	height: 37px;
}
div.email {
    background: url('../images/icon.png') no-repeat -8px -89px;
	width: 38px;
	height: 37px;
    bottom: 50px;
}
div.email:hover {
    background: url('../images/icon.png') no-repeat -8px -14px;
	width: 38px;
	height: 37px;
}
div.github {
    background: url('../images/icon.png') no-repeat -409px -89px;
	width: 38px;
	height: 37px;
    bottom: 10px;
}
div.github:hover {
    background: url('../images/icon.png') no-repeat -409px -14px;
	width: 38px;
	height: 37px;
}
div.twitter:hover, div.email:hover, div.github:hover { /*transform effects for the image sprites*/
    transform: scale(1.15, 1.15);
    -webkit-transform: scale(1.15, 1.15);
    -ms-transform: scale(1.15, 1.15);
    -moz-transform: scale(1.15, 1.15);
    -o-transform: scale(1.15, 1.15);
    opacity: 0.80;
}
@media only screen and (max-height: 600px) { /*if the browser's height is <600px, the author image sprites links go up right below the navigation*/
    nav > ul > li > h4 {
        top: 410px;
    }
    div.twitter, div.twitter:hover {
        top: 450px;
    }
    div.email, div.email:hover {
        top: 490px;
    }
    div.github, div.github:hover {
        top: 530px;
    }
}



/*MENUBAR ANIMATIONS*/
nav > ul > li.webnav:nth-child(1):hover {
    transition: transform 2s;
    transform: translate(180px);
    -webkit-transform: translate(180px);
    -ms-transform: translate(180px);
    -moz-transform: translate(180px);
    -o-transform: translate(180px);
}
nav > ul > li.webnav:nth-child(2):hover {
    transition: transform 2s;
    transform: translate(425px);
    -webkit-transform: translate(425px);
    -ms-transform: translate(425px);
    -moz-transform: translate(425px);
    -o-transform: translate(425px);
}
nav > ul > li.webnav:nth-child(3):hover {
    transition: transform 2s;
    transform: translate(325px);
    -webkit-transform: translate(325px);
    -ms-transform: translate(325px);
    -moz-transform: translate(325px);
    -o-transform: translate(325px);
}
nav > ul > li.webnav:nth-child(4):hover {
    transition: transform 2s;
    transform: translate(290px);
    -webkit-transform: translate(290px);
    -ms-transform: translate(290px);
    -moz-transform: translate(290px);
    -o-transform: translate(290px);
}
nav > ul > li.webnav:nth-child(5):hover {
    transition: transform 2s;
    transform: translate(245px);
    -webkit-transform: translate(245px);
    -ms-transform: translate(245px);
    -moz-transform: translate(245px);
    -o-transform: translate(245px);
}
nav > ul > li.webnav:nth-child(6):hover {
    transition: transform 2s;
    transform: translate(325px);
    -webkit-transform: translate(325px);
    -ms-transform: translate(325px);
    -moz-transform: translate(325px);
    -o-transform: translate(325px);
}



/*RESPONSIVITY*/
/*changing the formatting for a screen's width <950px*/
@media only screen and (max-width: 950px) {
    body {
        font-size: 100%;
        margin-right: 0px;
        padding-right: 5px;
    }

    /*changing the format of the table of contents*/
    section.toc {
        margin: 35px 18px -15px 18px;
    }
    section.toc > ul:nth-child(2) {
        margin-bottom: -15px;
    }

    /*fixing the alignment of navigation when the browser is <950px*/
    nav > ul > li.webnav:nth-child(1) {
        left: -260.5px;
    }
    nav > ul > li.webnav:nth-child(3) {
        left: -405.5px;
    }
    nav > ul > li.webnav:nth-child(4) {
        left: -366px;
    }
    nav > ul > li.webnav:nth-child(5) {
        left: -322px;
    }
    nav > ul > li.webnav:nth-child(6) {
        left: -405.5px;
    }

    /*change the size of the logo*/
    header > img {
        height: 200px;
        width: 200px;
    }
}

/*changing the formatting for a screen's width <660px*/
@media only screen and (max-width: 660px) {
    body {
        width: 98%;
    }

    /*removing the float of the image because it is too small when the browser is <660px*/
    section.rightPic > img, section.leftPic > img {
        clear: both;
        margin: 5px;
        width: 95%;
    }

    /*references*/
    details.references {
        margin: 0px 20px;
    }

    /*audio*/
    section.audio { /*removing the audio from the top-right corner of the website to under the header (to be better accessible)*/
        position: relative;
        width: 95%;
        padding-left: 10px;
        margin: 5% 0 -5% 0;
        background-color: #800000;
        line-height: 1.2;
    }
    section.audio > audio {
        margin-left: -10px;
    }
    section.audio > details {
        font-size: 125%;
        margin-left: 40px;
    }
    section.audio > details > ul {
        background-color: #800000;
        padding-bottom: 0;
    }

    /*changing the size of the logo*/
    header > img {
        height: 175px;
        width: 175px;
    }
}

/*changing the formatting for a screen's width <480px, for phones*/
@media only screen and (max-width: 480px) {
    /*for audio*/
    section.audio > audio { /*tatsulok song*/
        margin-left: -50px;
    }
    article > section > audio { /*complementary audio to the article*/
        margin-left: 0;
    }

    /*navigation for phone*/
    nav > ul > li.webnav > a > span {
        font-size: 25px;
        padding: 27px 10px 19px 100px;
    }
    nav > ul > li.webnav:nth-child(1) {
        left: -217px;
    }
    nav > ul > li.webnav:nth-child(2) {
        left: -391px;
    }
    nav > ul > li.webnav:nth-child(3) {
        left: -320px;
    }
    nav > ul > li.webnav:nth-child(4) {
        left: -292px;
    }
    nav > ul > li.webnav:nth-child(5) {
        left: -261px;
    }
    nav > ul > li.webnav:nth-child(6) {
        left: -320px;
    }

    /*menubar animations*/
    nav > ul > li.webnav:nth-child(1):hover {
        transition: transform 2s;
        transform: translate(130px);
        -webkit-transform: translate(130px);
        -ms-transform: translate(130px);
        -moz-transform: translate(130px);
        -o-transform: translate(130px);
    }
    nav > ul > li.webnav:nth-child(2):hover {
        transition: transform 2s;
        transform: translate(305px);
        -webkit-transform: translate(305px);
        -ms-transform: translate(305px);
        -moz-transform: translate(305px);
        -o-transform: translate(305px);
    }
    nav > ul > li.webnav:nth-child(3):hover {
        transition: transform 2s;
        transform: translate(235px);
        -webkit-transform: translate(235px);
        -ms-transform: translate(235px);
        -moz-transform: translate(235px);
        -o-transform: translate(235px);
    }
    nav > ul > li.webnav:nth-child(4):hover {
        transition: transform 2s;
        transform: translate(205px);
        -webkit-transform: translate(205px);
        -ms-transform: translate(205px);
        -moz-transform: translate(205px);
        -o-transform: translate(205px);
    }
    nav > ul > li.webnav:nth-child(5):hover {
        transition: transform 2s;
        transform: translate(175px);
        -webkit-transform: translate(175px);
        -ms-transform: translate(175px);
        -moz-transform: translate(175px);
        -o-transform: translate(175px);
    }
    nav > ul > li.webnav:nth-child(6):hover {
        transition: transform 2s;
        transform: translate(240px);
        -webkit-transform: translate(240px);
        -ms-transform: translate(240px);
        -moz-transform: translate(240px);
        -o-transform: translate(240px);
    }

    /*changing the size of the logo*/
    header > img {
        height: 125px;
        width: 125px;
    }
}

/*changing the formatting for a screen's width <375px, mobile m*/
@media only screen and (max-width: 375px) {
    /*audio formatting*/
    audio {
        width: 95%;
    }
    section.audio {
        margin-left: 5px;
    }
    section.audio > details {
        margin-left: 10px;
    }
}

/*changing the formatting for a screen's width <320px, mobile m*/
@media only screen and (max-width: 320px) {
    audio {
        width: 90%;
    }
    section.audio {
        margin-left: 5px;
    }
    section.audio > details {
        margin-left: 10px;
    }

    body {
        width: 106%;
    }

    header > img {
        height: 125px;
        width: 125px;
    }
}
