/*OVERALL FORMATTING*/
body {
    background-color: #800000;
    color: #FEF9EF;
    font-family: 'Montserrat:ital,wght@1,500', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    background-blend-mode: overlay;
    padding-left: 80px;
    box-sizing: border-box;
    overflow: auto;
}
h1:hover, h2:hover {
    color: #ff982a;
    font-weight: 1200;
}


/*LINKS FORMATTING*/
section.references > a, details.references > ul > li > a, section.audio > details > ul > li > a {
    color: #FEF9EF;
}
section.references > a:visited, details.references > ul > li > a:visited, section.audio > details > ul > li > a:visited {
    color: #00868b;
    opacity: 0.75;
}
section.references > a:hover, section#triangularNav > div > a:hover, details.references > ul > li > a:hover, section.audio > details > ul > li > a:hover {
    opacity: 0.5;
}



/*HEADER*/
header {
    color: #FEF9EF;
    font-size: 150%;
    margin: 5px;
    margin-top: 325px;
}
header h2 {
    margin-top: -25px;
}
header img {
    float: left;
    margin: 5px;
}



/*MAKE A CHANGE*/
a#slogan {
    position: absolute;
    top: 260px;
    left: 150px;
    color: #800000;
    font-size: 40px;
    font-weight: 800;
    font-style: italic;
}
a#slogan:visited {
    color: #900000;
    opacity: 0.75;
}
a#slogan:hover {
    color: #ff982a;
    opacity: 0.75;
}
#triangularNav:target {
    display: block;
    animation-name: triangularNav;      /* this is the link to the defined @keyframes below */
    animation-duration: 25s;   /* how fast/slow will the animation will be executed */
    -webkit-animation-duration: 25s;
    -ms-animation-duration: 25s;
    -moz-animation-duration: 25s;
    -o-animation-duration: 25s;
}
/* defining the steps in the animation */
@keyframes triangularNav {
    0% {
        transform: scale(1, 1); /*keeping the same orientation*/
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: translate(100px); /*gives the animation a swirling effect*/
        -webkit-transform: translate(100px); 
        -ms-transform: translate(100px);
        -moz-transform: translate(100px);
        -o-transform: translate(100px);
    }
    15% {
        transform: scale(-1, -1); /*flips the triangle*/
        -webkit-transform: scale(-1, -1);
        -ms-transform: scale(-1, -1);
        -moz-transform: scale(-1, -1);
        -o-transform: scale(-1, -1);
    } 
    80% {
        transform: scale(-1, -1); /*keeps the flipped triangle until next part*/
        -webkit-transform: scale(-1, -1);
        -ms-transform: scale(-1, -1);
        -moz-transform: scale(-1, -1);
        -o-transform: scale(-1, -1);
    } 
    95% {
        transform: scale(1, 1); /*goes back to upright triangle*/
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: translate(100px); /*gives the animation a swirling effect*/
        -webkit-transform: translate(100px); 
        -ms-transform: translate(100px);
        -moz-transform: translate(100px);
        -o-transform: translate(100px);
    }
}



/*TRIANGULAR NAVIGATION*/
section.homeContent {
    height: max-content;
    margin: 5px;
}
section#triangularNav {
    float: left;
    width: 50%;
    height: auto;
}
section#triangularNav > div > a > img {
    height: 150px;
    position: relative;
    margin-left: 30%;
}
section#triangularNav > div > a.navComprador {
    padding: 0 65px;
}
/*specific positions for the parts of the triangle*/
section#triangularNav > div > a.navComprador > img {
    margin-top: -45px;
    clip-path: polygon(50% 30%, 0% 100%, 100% 100%);
}
section#triangularNav > div > a.navNational {
    padding: 0 50px;
}
section#triangularNav > div > a.navNational > img {
    margin-top: -42px;
    clip-path: polygon(8% 28%, 92% 28%, 100% 75%, 0 75%); 
}
section#triangularNav > div > a.navPetite {
    padding: 0 35px;
}
section#triangularNav > div > a.navPetite > img {
    margin-top: -80px;
    clip-path: polygon(7% 28%, 93% 28%, 100% 75%, 0 75%);
}
section#triangularNav > div > a.navLabor {
    padding: 0 18px;
} 
section#triangularNav > div > a.navLabor > img {
    margin-top: -87px;
    height: 175px;
    clip-path: polygon(7% 28%, 93% 28%, 100% 75%, 0 75%);
} 
section#triangularNav > div > a.navAgri > img { 
    margin-top: -100px;
    height: 200px;
    clip-path: polygon(7% 28%, 95% 28%, 100% 75%, 0 75%);
} 

/*labels on the in the triangular navigation*/
section#triangularNav > h2 {
    position: absolute;
    text-shadow: 1.5px 1.5px #ff982a;
    background-color: #800000;
    padding: 2px;
    background-blend-mode: luminosity;
}
section#triangularNav > h2:hover {
    text-shadow: none;
    background-color: rgba(128, 0, 0, 0);
    color: rgba(128, 0, 0, 0);
}



/*SPECIFIC FORMATTING TO H2 IN TRIANGULAR NAV*/
section#triangularNav > h2:nth-child(6) {
    margin-top: -475px; 
    margin-left: 8%;
}
section#triangularNav > h2:nth-child(7) {
    margin-top: -365px; 
    margin-left: 1.6%;
}
section#triangularNav > h2:nth-child(8) {
    margin-top: -290px; 
    margin-left: 2%;
}
section#triangularNav > h2:nth-child(9) {
    margin-top: -215px; 
    margin-left: 1.5%;
}
section#triangularNav > h2:nth-child(10) {
    margin-top: -135px; 
    margin-left: 2.5%;
}
section#triangularNav > h2:nth-child(11) {
    margin-top: -100px; 
    margin-left: 4.5%;
}



/*INTRODUCTION OF THE HOMEPAGE*/
article {
    margin: -15px 5px 5px 5px;
    font-size: 120%;
    width: 47.5%;
    float: left;
    position: relative;
    background-color: #800000;
    padding: 5px;
}
article > img {
    mix-blend-mode: multiply;
    border: 3px solid #ff982a;
    float: right;
    width: 30%;
    height: auto;
    margin-top: 20px;
    margin-left: 10px; 
}
article > img:hover {
    mix-blend-mode: normal;
    border: 3px solid #ff982a;
}



/*COPYRIGHT*/
footer {
    position: relative;
    bottom: 0;
    left: 0;
    font-size: 100%;
    text-align: right;
}



/*REFERENCES*/
details.references {
    margin: 12px 0;
    padding: 2px 10px;
    background-color: #ff982a;
}
details.references > ul > li {
    list-style-type: none;
    text-align: left;
    padding-left: 10px;
    text-indent: -50px;
}
details.references > summary {
    font-size: 120%;
}



/*AUDIO*/
section.audio {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 10px;
    background-color: #ff982a;
    color: #FEF9EF;
    width: 400px;
}
section.audio > audio {
    position: relative;
    left: 50px;
}
section.audio > details {
    margin-top: 10px;
}
section.audio > details > ul {
    background-color: #800000;
    margin-bottom: -10px;
    padding-bottom: 30px;
}
section.audio > details > ul > li, section.audio > details > ul > li > a {
    padding: 5px;
}



/*RESPONSIVITY*/
/*changing the formatting for a screen <950px*/
@media only screen and (max-width: 950px) {
    article {
        clear: left;
        margin-top: -15px;
        width: 95%;
        font-size: 110%;
    }

    /*for the triangularNav animation*/
    section.homeContent > section#triangularNav > div > a > img {
        margin-left: 50%;
    }
    section.homeContent > section#triangularNav {
        margin-left: 10%;
    }
    /* defining the steps in the animation */
    @keyframes triangularNav {
        0% {
            transform: scale(1, 1); /*keeping the same orientation*/
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -moz-transform: scale(1, 1);
            -o-transform: scale(1, 1);
            transform: translate(100px); /*gives the animation a swirling effect*/
            -webkit-transform: translate(100px); 
            -ms-transform: translate(100px);
            -moz-transform: translate(100px);
            -o-transform: translate(100px);
        }
        15% {
            transform: scale(-1, -1); /*flips the triangle*/
            -webkit-transform: scale(-1, -1);
            -ms-transform: scale(-1, -1);
            -moz-transform: scale(-1, -1);
            -o-transform: scale(-1, -1);
        }
        20% {
            margin: -50px 0 20px 30%; /*adjusts the position of the triangle when upside down*/
        } 
        70% {
            margin: -50px 0 20px 30%; /*keeps the position*/
        }
        80% {
            transform: scale(-1, -1); /*keeps the flipped triangle until next part*/
            -webkit-transform: scale(-1, -1);
            -ms-transform: scale(-1, -1);
            -moz-transform: scale(-1, -1);
            -o-transform: scale(-1, -1);
        } 
        95% {
            transform: scale(1, 1); /*goes back to upright triangle*/
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -moz-transform: scale(1, 1);
            -o-transform: scale(1, 1);
            transform: translate(100px); /*gives the animation a swirling effect*/
            -webkit-transform: translate(100px); 
            -ms-transform: translate(100px);
            -moz-transform: translate(100px);
            -o-transform: translate(100px);
        }
    }
}

/*changing the formatting for a screen <660px*/
@media only screen and (max-width: 660px) {
    article, footer {
        font-size: 100%;
    }

    /*audio formatting adjustments*/
    section.audio {
        position: relative;
        width: 95%;
        padding-left: 10px;
        margin: -5% 0 5% 0.25%;
        background-color: #800000;
        line-height: 1.2;
    }
    section.audio > details {
        font-size: 100%;
        margin-left: 40px;
    }
    section.audio > details > ul {
        background-color: #800000;
        padding-bottom: 0;
    }

    /*for the triangularNav animation*/
    section.homeContent > section#triangularNav > div > a > img {
        margin-left: 35%;
    }
}

/*changing the formatting for a screen <530px, only for the triangularNav animation*/
@media only screen and (max-width: 530px) {
    section.homeContent > section#triangularNav > div > a > img {
        margin-left: 10%;
    }
    section#triangularNav {
        width: 85%;
    }

    /* defining the steps in the animation */
    @keyframes triangularNav {
        0% {
            transform: scale(1, 1); /*keeping the same orientation*/
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -moz-transform: scale(1, 1);
            -o-transform: scale(1, 1);
            transform: translate(100px); /*gives the animation a swirling effect*/
            -webkit-transform: translate(100px); 
            -ms-transform: translate(100px);
            -moz-transform: translate(100px);
            -o-transform: translate(100px);
        }
        15% {
            transform: scale(-1, -1); /*flips the triangle*/
            -webkit-transform: scale(-1, -1);
            -ms-transform: scale(-1, -1);
            -moz-transform: scale(-1, -1);
            -o-transform: scale(-1, -1);
        }
        20% {
            margin: -50px 0 20px 5%; /*adjusts the position of the triangle when upside down*/
        } 
        70% {
            margin: -50px 0 20px 5%; /*keeps the position*/
        }
        80% {
            transform: scale(-1, -1); /*keeps the flipped triangle until next part*/
            -webkit-transform: scale(-1, -1);
            -ms-transform: scale(-1, -1);
            -moz-transform: scale(-1, -1);
            -o-transform: scale(-1, -1);
        } 
        95% {
            transform: scale(1, 1); /*goes back to upright triangle*/
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -moz-transform: scale(1, 1);
            -o-transform: scale(1, 1);
            transform: translate(100px); /*gives the animation a swirling effect*/
            -webkit-transform: translate(100px); 
            -ms-transform: translate(100px);
            -moz-transform: translate(100px);
            -o-transform: translate(100px);
        }
    }
}



/*MENUBAR*/
nav > ul > li {
    list-style-type: none;
}
nav > ul > li.webnav { 
    position: fixed;
}
nav > ul > li.webnav > a {
    text-decoration: none;
}
nav > ul > li.webnav > a > img { /*formatting the images*/
    width: 75px;
    margin-top: -5px;
    z-index: 5;
}
nav > ul > li.webnav > a > span { /*formatting the text*/
    list-style-type: none;
    position: relative;
    bottom: 25px;
    margin-right: -6px;
    padding: 17px 10px 17px 100px;
    font-size: 35px;
    background-color: #ff982a;
    color: #FEF9EF;    
}
nav > ul > li > img { /*formatting the orange background*/
    width: 75px;
    left: 0px;
    position: fixed;
    top: 420px;
    height: 100%;
    z-index: 1;
}
nav > ul > li > h4 { /*formatting author text*/
    position: fixed;
    z-index: 5;
    left: 10px;
    bottom: 110px;
    color: #800000;
}



/*SPECIFIC WEBNAV*/
nav > ul > li.webnav:nth-child(1) {
    top: 0px; 
    left: -261px;
}
nav > ul > li.webnav:nth-child(2) {
    top: 75px; 
    left: -506px;
}
nav > ul > li.webnav:nth-child(3) {
    top: 145px; 
    left: -406px;
}
nav > ul > li.webnav:nth-child(4) {
    top: 215px; 
    left: -367px;
}
nav > ul > li.webnav:nth-child(5) {
    top: 285px; 
    left: -323px;
}
nav > ul > li.webnav:nth-child(6) {
    top: 355px; 
    left: -406px;
}



/*IMAGE SPRITES FOR AUTHOR LINKS*/
nav > ul > li.sprite {
    list-style-type: none;
}
nav > ul > li.sprite > a > div {
    position: fixed;
    z-index: 10;
    left: 15px;
}

/*getting the image sprites*/
div.twitter {
    background: url('../images/icon.png') no-repeat -294px -89px;
	width: 38px;
	height: 37px;
    bottom: 90px;
}
div.twitter:hover {
    background: url('../images/icon.png') no-repeat -294px -14px;
	width: 38px;
	height: 37px;
}
div.email {
    background: url('../images/icon.png') no-repeat -8px -89px;
	width: 38px;
	height: 37px;
    bottom: 50px;
}
div.email:hover {
    background: url('../images/icon.png') no-repeat -8px -14px;
	width: 38px;
	height: 37px;
}
div.github {
    background: url('../images/icon.png') no-repeat -409px -89px;
	width: 38px;
	height: 37px;
    bottom: 10px;
}
div.github:hover {
    background: url('../images/icon.png') no-repeat -409px -14px;
	width: 38px;
	height: 37px;
}
div.twitter:hover, div.email:hover, div.github:hover { /*transform effects for the image sprites*/
    transform: scale(1.15, 1.15);
    -webkit-transform: scale(1.15, 1.15);
    -ms-transform: scale(1.15, 1.15);
    -moz-transform: scale(1.15, 1.15);
    -o-transform: scale(1.15, 1.15);
    opacity: 0.80;
}
@media only screen and (max-height: 600px) { /*if the browser's height is <600px, the author image sprites links go up right below the navigation*/
    nav > ul > li > h4 {
        top: 410px;
    }
    div.twitter, div.twitter:hover {
        top: 450px;
    }
    div.email, div.email:hover {
        top: 490px;
    }
    div.github, div.github:hover {
        top: 530px;
    }
}



/*MENUBAR ANIMATIONS*/
nav > ul > li.webnav:nth-child(1):hover {
    transition: transform 2s;
    transform: translate(180px);
    -webkit-transform: translate(180px);
    -ms-transform: translate(180px);
    -moz-transform: translate(180px);
    -o-transform: translate(180px);
}
nav > ul > li.webnav:nth-child(2):hover {
    transition: transform 2s;
    transform: translate(425px);
    -webkit-transform: translate(425px);
    -ms-transform: translate(425px);
    -moz-transform: translate(425px);
    -o-transform: translate(425px);
}
nav > ul > li.webnav:nth-child(3):hover {
    transition: transform 2s;
    transform: translate(325px);
    -webkit-transform: translate(325px);
    -ms-transform: translate(325px);
    -moz-transform: translate(325px);
    -o-transform: translate(325px);
}
nav > ul > li.webnav:nth-child(4):hover {
    transition: transform 2s;
    transform: translate(290px);
    -webkit-transform: translate(290px);
    -ms-transform: translate(290px);
    -moz-transform: translate(290px);
    -o-transform: translate(290px);
}
nav > ul > li.webnav:nth-child(5):hover {
    transition: transform 2s;
    transform: translate(245px);
    -webkit-transform: translate(245px);
    -ms-transform: translate(245px);
    -moz-transform: translate(245px);
    -o-transform: translate(245px);
}
nav > ul > li.webnav:nth-child(6):hover {
    transition: transform 2s;
    transform: translate(325px);
    -webkit-transform: translate(325px);
    -ms-transform: translate(325px);
    -moz-transform: translate(325px);
    -o-transform: translate(325px);
}
